{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "70",
          "ie": "11",
          "safari": "10",
          "firefox": "60"
        }
      }
    ],
    "@babel/preset-react",
    [
      "env", {"modules": false}
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime",
    "syntax-dynamic-import"
  ],
  "env": {
    "test": {
      "plugins": ["dynamic-import-node"]
    }
  }
}