header {
    grid-area: header;
     //background-image: url('../../../assets/header.jpg');
     //background-size: contain;
}

header > .logo-image {
    background-image: url('../../../assets/header.jpg');
    background-size: contain;
    filter: blur(7px);
    position: absolute;
}

 header > .logo {
     background-repeat: no-repeat;
     background-size: cover;
     font-size: large;
     color: aqua;
     order: -1;
     position: absolute;
 }

.search {
    margin-top: 100px;
    margin-left: 40%;
    width: 500px;
    height: 40px;
    border: none;
    background-color: #232323;
    //filter: blur(1px);
    //backdrop-filter: blur(3px);
    font-size: xx-large;
    color: #555555;
}

.search-button {
    background-color: #f65261;
    border: none;
    height: 40px;
    width: 100px;
    color: white;
    border-radius: 5px;
    margin-top: 90px;
}
